{% if is_htmx %}
<ul id="group-tabs" hx-swap-oob="outerHTML:#group-tabs">
  {% include "groups/partials/tabs_items.jinja" %}
</ul>
{% endif %}

<div id="machinekeys-content">
    <div id="secret-banner"></div>

    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
            <tr>
                <th>Description</th>
                <th style="width:12rem">Permissions</th>
                <th style="width:8rem"></th>
            </tr>
        </thead>
        <tbody id="keys-tbody">
        {% for key in keys %}
            {% include "groups/partials/machine_key_row.jinja" %}
        {% endfor %}
        </tbody>
    </table>

    <hr>

    {% include "groups/partials/machine_key_create_form.jinja" %}
</div>
