{% if is_htmx %}
<ul id="group-tabs" hx-swap-oob="outerHTML:#group-tabs">
  {% include "groups/partials/tabs_items.jinja" %}
</ul>
{% endif %}

<table class="table">
    <thead>
        <th>id</th>
        <th>username</th>
        <th>role</th>
    </thead>
    {% for user in members %}
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
    {% endfor %}
</table>
