{% if is_htmx %}
<div hx-swap-oob="outerHTML:#group-tabs">
  {% include "groups/partials/tabs.jinja" %}
</div>
{% endif %}


<p>{{ group.description }}</p>
<p>specific content here, maybe amount of plugins and quota and stuff like that, latest activity</p>
