<li class="{% if active_tab == "overview" %}is-active{% endif %}">
  <a href="/g/{{ group.id }}"
     hx-get="/g/{{ group.id }}"
     hx-target="#tab-content"
     hx-push-url="true">Overview</a>
</li>
<li class="{% if active_tab == "plugins" %}is-active{% endif %}">
    <a href="/g/{{ group.id }}/plugins"
    hx-get="/g/{{ group.id }}/plugins"
    hx-target="#tab-content"
    hx-push-url="true">Plugins</a>
</li>
<li class="{% if active_tab == "members" %}is-active{% endif %}">
  <a href="/g/{{ group.id }}/members"
     hx-get="/g/{{ group.id }}/members"
     hx-target="#tab-content"
     hx-push-url="true">Members</a>
</li>
