{% extends "base.jinja" %}

{% block title %}Instance settings{% endblock %}

{% block head %}
<style>
    body { font-family: monospace; max-width: 600px; margin: 2rem auto; }
    table { width: 100%; border-collapse: collapse; }
    td { padding: 0.25rem 0.5rem; }
    tr:hover { background: #f5f5f5; }
    .size { text-align: right; color: #666; }
</style>
{% endblock %}

{% block content %}
    <h1>Settings</h1>
    <table>
        <tr>
            <td>Instance name</td>
            <td>{{ settings.instance_name }}</td>
        </tr>
        <tr>
            <td>Allow user group creation</td>
            <td>{{ settings.allow_user_group_creation }}</td>
        </tr>
    </table>
{% endblock %}
