{% extends "base.jinja" %}

{% block title %}Instance settings{% endblock %}

{% block content %}
    <h1>Settings</h1>
    <table>
        <tr>
            <td>Instance name</td>
            <td>{{ settings.instance_name }}</td>
        </tr>
        <tr>
            <td>Allow user group creation</td>
            <td>{{ settings.allow_user_group_creation }}</td>
        </tr>
    </table>
{% endblock %}
