{% extends "base.jinja" %}
{% block title %}{{ group.name }}{% endblock %}
{% block content %}
<h1 class="title is-3">{{ group.name }}</h1>
<p class="subtitle is-5">{{ group.description }}</p>

{% include "groups/partials/tabs.jinja" %}

<div id="tab-content">
  {% block tab_content %}{% endblock %}
</div>
{% endblock %}
