{% extends "base.jinja" %}

{% block title %}Files{% endblock %}

{% block content %}
    <h1>Files</h1>
    {% if files.is_empty() %}
        <p>No files found.</p>
    {% else %}
        <table>
            {% for file in files %}
            <tr>
                <td>{{ file.name }}</td>
                <td class="size">{{ file.size }} B</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
