{% extends "base.jinja" %}

{% block title %}Select a group to continue{% endblock %}

{% block content %}
    <h1>Select a group to continue</h1>
    {% if groups.is_empty() %}
        <p>Get started by creating a group.</p>
        <form>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" placeholder="My Group"><br>
            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description"><br><br>
            <input type="submit" value="Create">
        </form>
    {% else %}
        <div>
            {% for group in groups %}
            <div>
                <a href="/g/{{ group.id }}">{{ group.name }}</a>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
