{% extends "base.jinja" %}

{% block title %}Select a group to continue{% endblock %}

{% block content %}
    <h1>Select a group to continue</h1>
    {% if groups.is_empty() %}
        <p>Get started by creating a group.</p>
        <form>
            <div class="field">
                <label class="label" for="name">Name:</label>
                <div class="control">
                    <input class="input" type="text" id="name" name="name" placeholder="My Group">
                </div>
            </div>
            <div class="field">
                <label class="label" for="description">Description:</label>
                <div class="control">
                    <input class="input" type="text" id="description" name="description">
                </div>
            </div>
            <div class="control">
                <button class="button is-primary" type="submit">Create</button>
            </div>
        </form>
    {% else %}
        <div>
            {% for group in groups %}
            <div>
                <a href="/g/{{ group.id }}">{{ group.name }}</a>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
