{% extends "base.jinja" %}

{% block title %}Machine Keys{% endblock %}

{% block content %}
    <h1>Keys</h1>
    {% if keys.is_empty() %}
        <p>No keys found.</p>
    {% else %}
        <table>
            {% for key in keys %}
            <tr>
                <td>{{ key.id }}</td>
                <td>{{ key.description }}</td>
                <td>{{ key.group_id }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
